.main-nav {
    background-color: black;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 70vw;

    ul {
        list-style-type: none;

        a {
            text-decoration: none;
            margin: auto;
            color: white;
        }
    }
